<center>
  <style>
    body {
     transition: background-image 1s ease-in-out;
     background: url("<%=@foursquare.pic_url%>")  no-repeat fixed center;
     background-size: 100% auto;
     position: center;
    }
    #restaurant {
      color: white;
    }
  </style>
  <div class="background-image">

  </div>
  <div id="restaurant">
    <a href="http://foursquare.com/v/<%=@foursquare.venue_id%>"><%= @foursquare.name %></a><br>
    <%= @foursquare.phone_num %><br>
    <%= @foursquare.address %><br>
    <a href="<%=@foursquare.delivery_url%>">Order Delivery!</a><br>
    <%= button_to "Nevermind", root_path, :class => "btn btn-default", :method => :get %>
    <a href="https://foursquare.com/intent/venue.html" class="fourSq-widget" >Save to Foursquare</a>
    <script type='text/javascript'>
      (function() {
        window.___fourSq = {"uid":"102312955"};
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = 'http://platform.foursquare.com/js/widgets.js';
        s.async = true;
        var ph = document.getElementsByTagName('script')[0];
        ph.parentNode.insertBefore(s, ph);
      })();
    </script>
  </div>
</center>

<div class="buttons">
<%= render 'bad_picture' %>
<%= render 'dislikes' %>
<%= render 'likes' %>
</div>

<div id="location">
  <%= submit_tag 'Refresh Location', :type => 'button' %><br>
  Current Location: <%= @current_location %>
</div>
