<center>
  <style>
    body {
     background: url("<%=@foursquare.pic_url%>")  no-repeat fixed center;
     background-size: 100% auto;
     position: center;
    }
    #restaurant {
      color: white;
    }
  </style>
  <div id="restaurant">
    <a href="http://foursquare.com/v/<%=@foursquare.venue_id%>"><%= @foursquare.name %></a><br>
    <%= @foursquare.phone_num %><br>
    <%= @foursquare.address %><br>
    <a href="<%=@foursquare.delivery_url%>">Order Delivery!</a><br>
  </div>
</center>

<%= render 'bad_picture' %>
