<nav class="nav light-color">
  <div class="container-fluid navbar-left">
    <h5>MunchyFuel</h5>
  </div>
  <div class="container-fluid navbar-right">
    <h6>
      <% if user_signed_in? %>
      <strong class="light-color"><%= current_user.email %></strong> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', remote: true %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', remote: true %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link', remote: true %>
      <% end %>
    </h6>
    <div id="modal" class="modal fade"></div>
  </div>
</nav>
