<!DOCTYPE html>
<html>
<head>
  <title>MunchyFuel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <%= render 'layouts/header' %>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <% unless @lat_lng %>
    <script>
      getGeoLocation();
    </script>
  <% end %>
  <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i></i>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
