<!DOCTYPE html>
<html>
<head>
  <title>MunchyFuel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <% unless @lat_lng %>
    <script>
      getGeoLocation();
    </script>
  <% end %>
  <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i></i>

<%= yield %>

</body>
</html>
